@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  border-radius: 3px;
  border: 1px solid rgb(241, 241, 244);
  background: rgb(241, 242, 247);
  padding: 8px 12px;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2px;
  margin-bottom: 1.2rem;
}

.search-input {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

.search-form {
  width: 100%;
  padding: 0, 0;
  margin-top: 0;
}

.search-label {
  display: inline-block;
}

.search-button {
  border-width: 0;
  position: relative;
  margin-left: -35px;
  background: transparent;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
