html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.purple {
  padding: 10px 15px;
  border: 0px;
  line-height: 1;
  border-radius: 3px;
  background: rgb(63, 81, 181);
  color: white;
}

h1 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.white {
  padding: 10px 15px;
  border: 0px;
  line-height: 1;
  border-radius: 3px;
  background: rgb(241, 242, 247);
  color: rgb(67, 68, 73);
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 0.75rem;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
